<form class="form" #f="ngForm" (ngSubmit)="userRegistrationForm(f)">
   <div class="form-group">
     <label for="userName">Name</label>
     <input type="text" class="form-control" id="userName" required [(ngModel)]="user.name" #name="ngModel" name="name" [ngClass]="{'is-invalid': f.submitted && name.invalid}"/>
     <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
       <div *ngIf="name.errors.required">Name is mandatory</div>
     </div>
   </div>
   <div class="form-group">
     <label for="email">Email</label>
     <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" #email="ngModel" name="email" [ngClass]="{'is-invalid': f.submitted && email.invalid}" email/>
     <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
       <div *ngIf="email.errors.required">Email is Mandatory</div>
       <div *ngIf="email.errors.email">Enater Valid Email</div>
     </div>
   </div>
   <div class="form-group">
     <label>Password</label>
     <input type="password" class="form-control" passwordToggle required [(ngModel)]="user.password" #password="ngModel" name="password" (input)="pwConfirm.control.updateValueAndValidity()" [ngClass]="{'is-invalid': f.submitted && password.invalid}"/>
     <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
       <div *ngIf="password.errors.required">Password Mandatory</div>
     </div>
   </div>
   <div class="form-group">
     <label>Confirm Password</label>
     <input type="password" class="form-control" name="cpassword" passwordToggle [(ngModel)]="user.cpassword" #pwConfirm="ngModel" required CompareValidator="password" [ngClass]="{'is-invalid': f.submitted && pwConfirm.invalid}"/>
     <div *ngIf="f.submitted && pwConfirm.invalid" class="invalid-feedback">
       <div *ngIf="pwConfirm.errors.required">Password Mandatory</div>
       <div *ngIf="pwConfirm.errors.notEqual && !pwConfirm.errors.required">Password Does not match</div>
     </div>
   </div>
   <div class="form-group">
     <label for="contactNo">Contact Number</label>
     <input type="text" class="form-control" id="contactNo" required [(ngModel)]="user.contact" #contact="ngModel" name="contact" [ngClass]="{'is-invalid': f.submitted && contact.invalid}"/>
     <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
       <div *ngIf="contact.errors.required"> Contact is Madantory </div>
     </div>
   </div>
   <div class="form-group">
     <label>Select State</label>
     <select [(ngModel)]="user.state" #state="ngModel" name="state" class="form-control" placeholder="Select State" (change)="onSelectState($event.target.value)" required [ngClass]="{'is-invalid': f.submitted && state.invalid}">
        <option [ngValue]="undefined" disabled hidden>Select State</option>
        <option *ngFor="let state of states" value= {{state}}>
           {{state}}
        </option>
    </select>
    <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
      <div *ngIf="state.errors.required"> State is Madantory </div>
    </div>
   </div>
   <div class="form-group">
     <label>Select district</label>
     <select [disabled]="districtDropdown" [(ngModel)]="user.district" #district="ngModel" name="district" class="form-control" required [ngClass]="{'is-invalid': f.submitted && district.invalid}">
        <option [ngValue]="undefined" disabled hidden>Select District</option>
        <option *ngFor="let dist of distics" value= {{dist}}>
           {{dist}}
        </option>
    </select>
    <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
      <div *ngIf="district.errors.required"> District is Madantory </div>
    </div>
   </div>
   <div class="form-group">
     <label for="Address">Address</label>
     <input type="text" class="form-control" id="Address" required [(ngModel)]="user.address" #address="ngModel" name="address" [ngClass]="{'is-invalid': f.submitted && address.invalid}"/>
     <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
       <div *ngIf="address.errors.required"> Address is Madantory </div>
     </div>
   </div>
   <div class="form-group">
     <button type="submit" class="btn btn-primary">Register</button>
   </div>
</form>
